/** Jquery UI CSS**/
.ui-slider {
	background:#aaabab; 
	height:8px;
	border:none;
	border-radius:0;
	cursor:pointer;
}

.ui-slider .ui-slider-handle {
	width: 20px;
	height: 18px;
	background:#000;
	border:none;
	border-radius:0;
	margin-top:-1px;
	cursor:pointer;
}

.ui-slider-disabled, .ui-state-disabled 	{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity:0.6;}

.ui-widget-overlay				{opacity:0.4; filter:alpha(opacity = 40); background:#000; z-index:3000}
.ui-dialog						{z-index:3002; padding:0}
.ui-dialog-titlebar				{border-radius:0; margin:0; border:none;}
.ui-dialog .ui-dialog-content 		{padding:5px}

.ui-widget {font-family:inherit; font-size:inherit}
.ui-widget .ui-widget {font-family:inherit; font-size:inherit}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family:inherit; font-size:inherit}
.ui-widget-content {}
.ui-widget-content a {}
.ui-widget-header {}
.ui-widget-header a {}

/**  Accordion **/
.ui-accordion .ui-accordion-header {display:block; cursor:pointer; position:relative; margin-top:2px; padding:6px 3px; color:inherit}
.ui-accordion .ui-accordion-icons {padding-left:16px}
.ui-accordion .ui-accordion-noicons {}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; left:0px; top: 50%; margin-top: -8px;}
.ui-accordion .ui-accordion-content { padding:10px; border-top: 0; overflow: auto; background:#fff}
/*.ui-state-default	{border:1px solid #ccc}
.ui-state-active	{border:1px solid #ccc; color:inherit;}
.ui-state-hover		{border:1px solid #ccc}*/
.ui-icon			{}
.ui-icon-plus		{}
.ui-icon-minus		{}
/** Jquery UI CSS end **/


.bodyMapParent	{width:505px; position:absolute; top:0; right:0}

/*.bodyMap			{position:relative; width:500px; height:410px; border:1px solid #ccc;}
.bodyMapMaleBg		{background:url(../img/body-map-male.jpg) 50% 50% no-repeat}
.bodyMapFemaleBg	{background:url(../img/body-map-female.jpg) 50% 50% no-repeat}*/

.painMark		{width:16px; height:16px; margin:0; border-radius:50%; background:#bf2b27; opacity:0.3; z-index:100; position:absolute; cursor:move}

.painPopup		{background:#fff; width:650px; height:420px; position:absolute; z-index:200; display:none; 
				box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.3);}
				
.painPopupH		{background:#333; padding:5px 10px; color:#fff; cursor:move; font-weight:bold; font-size:15px}

.painPopupPad	{padding:5px}

/** Faces **/
.facesBx				{position:absolute; left:-15px; top:0px; width:630px; overflow:hidden}
.facesBx img			{margin-right:50px}
.facesBx img.dull		{opacity:0.8}
.facesBx img.act		{opacity:1}		
/** Faces End **/
				
.slideLine			{width:600px}
.painProgLine		{height:8px; width:1px; position:absolute; overflow:hidden}
.ppBox				{width:605px}
.ppL1				{background:#93c83e; width:25%; height:8px; float:left}
.ppL2				{background:#EAEA00; width:25%; height:8px; float:left}
.ppL3				{background:#FF8000; width:25%; height:8px; float:left}
.ppL4				{background:#C40000; width:25%; height:8px; float:left}

.areaProgLine		{height:8px; width:1px; position:absolute; overflow:hidden}

.slideCapBx				{width:750px}
.slideCap1				{position:absolute; left:0px; top:4px; width:600px; overflow:hidden}
.slideCap1 ul			{list-style:none; margin:0; padding:0}
.slideCap1 ul li		{float:left; margin:0px 52px 0px 0px; padding:0px}
.slideCap1 ul li.last2	{margin-right:35px}

.slideCap2				{position:absolute; left:0px; top:-25px}
.cap1					{position:absolute; left:-17px; top:0px; width:65px}
.cap2					{position:absolute; left:135px; top:0px; width:60px}
.cap3					{position:absolute; left:265px; top:0px; width:100px}
.cap4					{position:absolute; left:460px; top:0px; width:100px}


/** Message **/
.MsgBox					{width:505px; position:fixed; z-index:1000; right:20px; bottom:2px; display:none}
.MsgBox .headT			{background:#363636; color:#fff; padding:10px; position:relative}
.MsgBox .crossM			{background:url(../img/close-24.png) 0 1px no-repeat; width:24px; height:24px; position:absolute; top:6px; right:8px; cursor:pointer}
.MsgBox .content		{border:1px solid #ccc; border-top:none; background:#fff; height:406px}

.MsgBox input 			{padding:5px; width: 488px; font-size:14px}
.msgtoBx				{}
.MsgBox select			{width:500px; padding:5px 2px; font-size:14px}
.MsgBox textarea		{padding:5px; width:488px; height: 270px; resize: none;}

.replyForwardLinks		{border-top:1px solid #ccc; margin:20px 0px 0px 0px; padding-top:5px}
.replyForwardLinks a	{text-decoration:underline}

.MsgBox1				{width:700px; border-top:1px solid #ccc; display:none}
.MsgBox1 .content		{border:1px solid #ccc; border-top:none; background:#fff; height:440px}

.MsgBox1 input 			{padding: 10px 5px; width: 688px;	border: none; border-bottom: 1px #CCCCCC solid;}
.msgtoBx1				{border-right: 1px #CCCCCC solid}
.MsgBox1 select			{width:698px; padding: 10px 5px; border:none; border-bottom: 1px #CCCCCC solid}
.MsgBox1 textarea		{padding: 10px 5px; width: 688px; border: none; height: 270px; resize: none; border-bottom: 1px #CCCCCC solid;}

table td[pl]			{cursor:pointer}


/** Form 1 **/
.quesSlide				{width:600px}
.colorLineBx			{width:605px}

.optNBx					{width:1000px}
.optNBx div span		{font-size:8px}

.optN1					{position:absolute; left:0px; top:30px; width:620px; overflow:hidden}
.optN1 ul				{list-style:none; margin:0; padding:0}

.optCap					{position:absolute; font-size:14px; line-height:18px; text-align:center; height:40px; top:-22px}
.optCap table			{width:100%; border:none}
.optCap td				{text-align:center; height:40px; vertical-align:middle; padding:0}


/** BPI **/
.bpiForm							{}
.bpiForm .optN1 ul li				{float:left; margin:0px 51px 0px 0px; padding:0px}
.bpiForm .optN1 ul li.lastOpt		{margin-right:41px}
.bpiForm .optN1 ul li.L5			{margin-right:55px}

.bpiForm .optN1 ul li.L11 .pipe		{text-indent:9px}

.bpiForm .optN1 ul.Q9 li			{margin:0px 37px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L2			{margin:0px 34px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L3			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L4			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L5			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L6			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L7			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L8			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L9			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L10		{margin:0px 25px 0px 0px}

.bpiForm .optN1 ul.Q9 li .optName	{font-size:12px}
.bpiForm .optN1 ul.Q9 .pipe			{text-indent:5px}


.bpiForm .optCap0				{left:-46px; width:100px}
.bpiForm .optCap10				{left:540px; width:130px}

/** PGIC **/
.pgic							{}
.pgic .optN1 ul li				{float:left; margin:0px 91px 0px 0px; padding:0px}
.pgic .optN1 ul li.lastOpt		{margin-right:89px}

.pgic .optCap0					{left:-26px; width:60px}
.pgic .optCap1					{left:55px; width:90px}
.pgic .optCap2					{left:170px; width:60px}
.pgic .optCap3					{left:270px; width:60px}
.pgic .optCap4					{left:367px; width:60px}
.pgic .optCap5					{left:470px; width:60px}
.pgic .optCap6					{left:545px; width:100px}



/** PHQ **/
.phqForm						{}
.phqForm .optN1 ul li			{float:left; margin:0px 192px 0px 0px; padding:0px}
.phqForm .optN1 ul li.L4 .pipe	{text-indent:2px}
.phqForm .optN1 ul li.lastOpt	{margin-right:185px}
.phqForm .optCap0				{left:-26px; width:60px}
.phqForm .optCap1				{left:170px; width:60px}
.phqForm .optCap2				{left:350px; width:100px}
.phqForm .optCap3				{left:545px; width:100px}

/** PSEQ **/
.pseqForm						{}
.pseqForm .optN1 ul li			{float:left; margin:0px 91px 0px 0px; padding:0px}
.pseqForm .optN1 ul li.L7 .pipe	{text-indent:3px}
.pseqForm .optN1 ul li.lastOpt	{margin-right:88px}
.pseqForm .optCap0				{left:-32px; width:90px}
.pseqForm .optCap6				{left:545px; width:100px}


/** DAPOS **/
.dapos							{}
.dapos .optN1 ul li				{float:left; margin:0px 141px 0px 0px; padding:0px}
.dapos .optN1 ul li.L5 .pipe	{text-indent:3px}
.dapos .optN1 ul li.lastOpt		{margin-right:137px}

.dapos .optCap0				{left:-26px; width:60px}
.dapos .optCap4				{left:564px; width:80px}



/** Start Back **/
.startBack						{}
.startBack .optN1 ul li			{float:left; margin:0px 141px 0px 0px; padding:0px}
.startBack .optN1 ul li.lastOpt	{margin-right:143px}

.startBack .optCap0				{left:-26px; width:60px}
.startBack .optCap1				{left:122px; width:60px}
.startBack .optCap2				{left:265px; width:60px}
.startBack .optCap3				{left:405px; width:80px}
.startBack .optCap4				{left:564px; width:60px}

.startBack .optN1				{display:none}


/** CSQ - 8 **/
.csq						{}
.csq .optN1 ul li			{float:left; margin:0px 192px 0px 0px; padding:0px}
.csq .optN1 ul li.L4 .pipe	{text-indent:2px}
.csq .optN1 ul li.lastOpt	{margin-right:185px}

.csq .optCap0				{left:-70px; width:150px}
.csq .optCap1				{left:125px; width:150px}
.csq .optCap2				{left:325px; width:150px}
.csq .optCap3				{left:535px; width:130px}



/** Form 2 **/
.quesSlide2				{width:600px}
.colorLineBx2			{width:605px}

.optNBx2				{width:800px}
.optNBx2 span			{font-size:8px}

.optN2					{position:absolute; left:0px; top:30px; width:600px; overflow:hidden;}
.optN2 ul				{list-style:none; margin:0; padding:0}
.optN2 ul li			{float:left; margin:0px 47px 0px 0px; padding:0px}
.optN2 ul li.L6			{margin-right:50px}	
.optN2 ul li.L7			{margin-right:52px}	
.optN2 ul li.L8			{margin-right:54px}	
.optN2 ul li.L11 .pipe	{text-indent:4px}		
.optN2 ul li.lastOpt	{margin:0px 46px 0px 0px}

.optCapS2				{position:absolute; font-size:14px; line-height:18px; text-align:center; height:40px; top:-22px}
.optCapS2 table			{width:100%; border:none}
.optCapS2 td			{text-align:center; height:40px; vertical-align:middle; padding:0}

.optCap20				{left:-55px; width:140px}
.optCap29				{left:350px; width:100px}

.optCap25				{left:265px; width:100px}
.optCap210				{left:550px; width:100px}



.clB1				{background:#93c83e; width:25%; height:8px; float:left}
.clB2				{background:#EAEA00; width:25%; height:8px; float:left}
.clB3				{background:#FF8000; width:25%; height:8px; float:left}
.clB4				{background:#C40000; width:25%; height:8px; float:left}

.sTbl				{background:#ccc}
.sTbl td			{background:#fff}

.frmInfo a			{float:none; width:180px; margin-bottom:10px; text-align:left; background:#FF8000; color:#fff; font-weight:bold}

/** **/
.e1					{width:500px}


/** Chart **/
.chartBox			{width:1000px; height:450px; overflow:hidden; margin:0 auto; border:1px solid #ccc; margin-top:20px}

.smSpeedoBx			{width:105px; height:70px; overflow:hidden; position:relative}
.zoomS			 	{zoom: 50%; -moz-transform: scale(0.5); -webkit-transform: scale(1.0); width:210px; height:132px; position:absolute;}

@-moz-document url-prefix() { 
  .zoomS			 {zoom: 50%; -moz-transform: scale(0.5); -webkit-transform: scale(1.0); width:210px; height:132px; position:absolute; left:-53px; top:-31px}
}

.followUpAlert		{width:60px; height:60px; border-radius:50%; color:#fff; display:table-cell; vertical-align:middle; text-align:center; padding:5px}
.redBg				{background:red}
.amberBg			{background:#FF8000}
.greenBg			{background:green}

.box1				{border:1px solid #ccc; float:left; padding:5px; margin:10px; display:block; cursor:pointer; text-align:center}
.box1:hover	div		{color:#666}
.box1 .btmText		{position:absolute; left:0px; bottom:5px; width:180px; padding:0px 5px}
.box1 h1			{color:#333; font-size:28px}

.boxWH1					{width:180px; height:180px}
a.boxWH2				{width:180px; height:130px}
a.boxWH2 .btmText		{font-weight:normal; font-size:14px}
a.boxWH2 img			{float:left; margin:0px 10px 0px 0px; width:64px}

.boxNoRes			{background:url(../img/response-img/red.jpg) 50% 50% no-repeat}
.boxPoorRes			{background:url(../img/response-img/orange.jpg) 50% 50% no-repeat}
.boxAvgRes			{background:url(../img/response-img/yellow.jpg) 50% 50% no-repeat}
.boxExRes			{background:url(../img/response-img/green.jpg) 50% 50% no-repeat}

.greyBx1			{padding:5px; background:#eee}

table.nobg td		{background:none}

.tdBx				{font-size:24px; text-align:center; width:100%; height:235px; line-height:normal}
.blueBx				{background:#3a87ad; color:#fff}
.finfoTxt			{position:absolute; font-size:13px; bottom:5px; right:5px}

.ctrlBx				{position:absolute; bottom:7px; left:7px}

.editIcon			{display:inline-block; width:40px; height:40px; background:url(../img/edit-icon.png) 0 0 no-repeat; line-height:40px}
.viewReportIcon		{display:inline-block; width:40px; height:40px; background:url(../img/view-icon.png) 0 0 no-repeat; line-height:40px}

.followT			{height:40px; line-height:40px; padding:0 0 0 45px}
.followT1			{background:url(../img/internet-icon.png) 0 0 no-repeat}
.followT2			{background:url(../img/telephonic.png) 0 0 no-repeat}

.scBx1				{border:1px solid #ccc; line-height:50px; font-size:18px; background:#990099; color:#fff}
.scBx2				{border:1px solid #ccc; line-height:50px; font-size:18px; background:#3366cc; color:#fff}

.adBtnBx			{margin:0px 0px 10px 0px}
.adBtnBx a			{margin:0px 10px 0px 0px}

.msgIcon			{display:block; width:32px; height:22px; background:url(../img/msg-icon.png) 0 0 no-repeat; position:absolute; right:70px; top:9px}
.msgIcon span		{position:absolute; right:-10px; top:-10px; display:block; width:25px; height:25px; background:#ff0000; color:#fff; text-align:center; line-height:25px; border-radius:50%}

.notifyIcon			{display:block; width:32px; height:32px; background:url(../img/notify-icon.png) 0 0 no-repeat; position:absolute; right:10px; top:4px}

/** Hide color from form scales **/
.areaProgLine, .painProgLine		{display:none}