/** Theme Override **/
.signinpanel form, .signuppanel form		{background:#fff}
.mainpanel			{height:auto !important}
.stickyheader .sticky-leftpanel .leftpanelinner		{margin-top:95px}
input.form-control	{padding:9px 8px; line-height:normal}
.chosen-container-single .chosen-single						{padding:6px 8px 5px 8px; text-align:left} 
.chosen-container-single .chosen-results					{text-align:left}
.chosen-container-single .chosen-search input[type="text"] 	{padding:4px 20px 4px 5px}
.signuppanel .uneditable-input	{width:155px}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {padding:3px; border:1px solid #ccc; font-weight:normal; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333}
.myListBx1 .people-item	{padding:10px}
.myListBx1 .thumbnail	{margin:0px}
.btn					{line-height:20px}
.smallForm input.form-control {padding:5px}
.smallForm .btn			{line-height:12px}
.smallForm label.control-label	{padding-top:3px}
.smallForm .chosen-container-single .chosen-single			{padding:2px 5px 2px 5px}
.smallForm .uneditable-input	{width:155px; height:26px; padding:2px 10px}
.smallForm .chosen-container-single .chosen-single div b	{background-position:8px 11px}


.form-group .control-label {margin:0}
.reportDiv .panel-heading	{padding-top:7px; padding-bottom:7px}
.headermenu .dropdown-menu li a.notiA			{display:inline-block; font-size:11px; color:#999; text-decoration:none}


/** CSS from style.css **/
p					{margin:0}
.clr				{width:100%; clear:both; font-size:0px; line-height:0px; height:0px; overflow:hidden}
.message1			{font-size:13px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; color:#222; padding:5px 10px;  line-height:normal; background:#F9EDBE; border:1px solid #F0C36D; border-radius:2px; box-shadow:0 2px 4px rgba(0,0,0,0.2); position:fixed; top:2px; z-index:8000}
.big				{font-size:15px}
.bold				{font-weight:bold}
.pad5				{padding:25px 20px 35px 0px; margin-left:20px}
.pad6				{padding:5px 0px 15px 0px}
.quesBx				{padding:8px 10px 8px 5px; margin:0px 0px 4px 0px; border-left:2px solid #FF8000; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); background:#f9f9f9; font-weight:bold}
.quesNo				{color:#FF8000; width:auto; height:24px; display:block; float:left; padding-right:5px}
.ansBx				{padding:20px 10px 15px 10px; border-left:2px solid #93c83e; margin:0px 0px 15px 0px; box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.1);}

.leftFlow1			{width:160px; float:left; padding:3px 0px}
.ansTa				{width:99%; height:100px; resize:none;  background:#f1f1f1; padding:5px}


/** My CSS **/
a:hover				{text-decoration:none}
ol					{margin:0 0 0 22px; padding:0}
table.filterTbl td	{padding:4px}
table.formTbl td	{padding:8px 4px}
.myWhiteBx			{background:#fff; padding:5px}
.notFound			{text-align:center; color:#999; padding:10px}
.posRel				{position:relative}
.posAbs				{position:absolute}
.redBdr				{border:1px solid #a94442}
.myhide				{display:none}
.myred				{color:#ff0000}
.myreq:after			{content:' *'; color:#a94442}

.myL1				{width:110px; padding:0 10px; text-align:right}
.myL2				{width:180px; padding:0 10px}

a.boxResPic, .boxResPic		{display:block; color:#fff; font-weight:bold; font-size:16px}
.boxPoorRes			{background:#ff4b31}
.boxAvgRes			{background:#fbd200}
.boxGoodRes			{background:#6fba61}
.resAnaBx .posRel	{width:180px; height:140px; padding:5px 10px; float:left; margin:15px; text-align:center; border-radius:5px}
.resAnaBx h2		{float:right; margin:10px 0 0 0; padding:0}
.b1BtmText			{position:absolute; width:100%; left:0; bottom:10px; text-align:center}
.mrgn1				{margin-bottom:15px}

.resAnaBx1 .posRel	{width:180px; height:120px; padding:5px 10px; float:left; margin:15px; text-align:center; border:1px solid #ccc; border-radius:5px; white-space:normal}
.resAnaBx1 h2		{float:right; margin:10px 0 0 0; padding:0}

.stBx				{line-height:36px; font-size:18px; color:#fff; border-radius:5px}
.tdBx				{font-size:24px; text-align:center; width:100%; height:260px; line-height:normal}
.tdBx1				{font-size:24px; text-align:center; width:100%; min-height:60px; line-height:normal}
.blueBx				{background:#3a87ad; color:#fff}
.finfoTxt			{position:absolute; font-size:13px; bottom:5px; right:5px}

.makeFav, .favIcon, .favLoader	{display:block; width:20px; height:20px; font-size:20px; position:absolute; top:5px; right:15px; text-align:center}
.makeFav, .makeFav:hover, .makeFav:focus			{color:#ccc}
.favIcon, .favIcon:hover, .favIcon:focus			{color:#f0ad4e}
.favLoader			{background:url(../img/loader1.gif) 50% 50% no-repeat}

a.editBtn			{display:block; width:12px; height:12px; background:url(../img/edit.png) no-repeat; cursor:pointer}
a.deleteBtn			{display:block; width:16px; height:16px; background:url(../img/delete.png) no-repeat; cursor:pointer}

.followUpAlert		{width:80px; height:20px; border-radius:4px}
.followUpStBx		{width:80px; height:34px; border-radius:4px}
.redBg				{background:#ff4b31}
.amberBg			{background:#FF8000}
.greenBg			{background:#6fba61}



/** Jquery UI CSS**/
.ui-slider {background:#ccc; height:8px; border:none; border-radius:0; cursor:pointer;}
/*.ui-slider .ui-slider-handle {width: 22px; height: 22px; background:#000; border:none; border-radius:5px; margin-top:-4px; cursor:pointer}*/
.ui-slider .ui-slider-handle {background: none repeat scroll 0 0 #999; border: 8px solid #444; border-radius: 50px;  cursor: pointer; height: 22px; top: -0.6em; width: 22px;}
.ui-slider .ui-slider-handle:hover	{-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);}
.ui-slider .ui-slider-range-min	{background:none repeat scroll 0 0 #999; border-radius:0}

.ui-slider-disabled, .ui-state-disabled {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity:0.6;}

.ui-widget-overlay				{opacity:0.4; filter:alpha(opacity = 40); background:#000; z-index:3000}
.ui-dialog						{z-index:3002; padding:0}
.ui-dialog-titlebar				{border-radius:0; margin:0; border:none;}
.ui-dialog .ui-dialog-content 		{padding:5px}

.ui-widget {font-family:inherit; font-size:inherit}
.ui-widget .ui-widget {font-family:inherit; font-size:inherit}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family:inherit; font-size:inherit}
.ui-widget-content {}
.ui-widget-content a {}
.ui-widget-header {}
.ui-widget-header a {}

/**  Accordion **/
.ui-accordion .ui-accordion-header {display:block; cursor:pointer; position:relative; margin-top:2px; padding:6px 3px; color:inherit}
.ui-accordion .ui-accordion-icons {padding-left:16px}
.ui-accordion .ui-accordion-noicons {}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; left:0px; top: 50%; margin-top: -8px;}
.ui-accordion .ui-accordion-content { padding:10px; border-top: 0; overflow: auto; background:#fff}
/*.ui-state-default	{border:1px solid #ccc}
.ui-state-active	{border:1px solid #ccc; color:inherit;}
.ui-state-hover		{border:1px solid #ccc}*/
.ui-icon			{}
.ui-icon-plus		{}
.ui-icon-minus		{}

.ui-dialog-titlebar-close	{background:url(../img/delete.png) 50% 50% no-repeat; border:none}
/** Jquery UI CSS end **/


/** Body Map **/
.bodymapP			{position:absolute; right:5px; top:5px; width:502px}
.bodyMapDoctor		{position:relative; border:1px solid #ccc; width:450px; height:369px; margin:0px auto}
.bodyMapUser		{position:relative; border:1px solid #ccc; width:450px; height:369px; float:right}

.bodyMapMaleBg		{background:url(../img/body-map-male.jpg) 50% 50% no-repeat}
.bodyMapFemaleBg	{background:url(../img/body-map-female.jpg) 50% 50% no-repeat}
/** Body map end **/

table.sTbl				{background:#ccc; border-collapse:separate; border-spacing:1px;}
table.sTbl td			{background:#fff; padding:4px 8px}


.painMark		{width:16px; height:16px; margin:0; border-radius:50%; background:#bf2b27; opacity:0.3; z-index:100; position:absolute; cursor:move}

.painPopup		{background:#fff; width:530px; height:400px; position:absolute; z-index:200; display:none; 
				box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.3);}
				
.painPopupH		{background:#333; padding:5px 10px; color:#fff; cursor:move; font-weight:bold; font-size:15px}

.painPopupPad	{padding:5px}

/** Faces **/
.facesBx				{position:absolute; left:-15px; top:0px; width:530px; overflow:hidden}
.facesBx img			{margin-right:35px; cursor:pointer; width:55px}
.facesBx img.img6		{margin:0}
.facesBx img.dull		{opacity:0.8}
.facesBx img.act		{opacity:1}		
/** Faces End **/
				
.slideLine			{width:490px}
.painProgLine		{height:8px; width:1px; position:absolute; overflow:hidden}
.ppBox				{width:495px}
.ppL1				{background:#93c83e; width:25%; height:8px; float:left}
.ppL2				{background:#EAEA00; width:25%; height:8px; float:left}
.ppL3				{background:#FF8000; width:25%; height:8px; float:left}
.ppL4				{background:#C40000; width:25%; height:8px; float:left}

.areaProgLine		{height:8px; width:1px; position:absolute; overflow:hidden}

.slideCapBx				{width:750px}
.slideCap1				{position:absolute; left:0px; top:4px; width:600px; overflow:hidden}
.slideCap1 ul			{list-style:none; margin:0; padding:0}
.slideCap1 ul li		{float:left; margin:0px 52px 0px 0px; padding:0px}
.slideCap1 ul li.last2	{margin-right:35px}

.slideCap2				{position:absolute; left:0px; top:-25px}
.cap1					{position:absolute; left:-17px; top:0px; width:65px}
.cap2					{position:absolute; left:135px; top:0px; width:60px}
.cap3					{position:absolute; left:265px; top:0px; width:100px}
.cap4					{position:absolute; left:460px; top:0px; width:100px}


/** Message **/
.MsgBox					{width:505px; position:fixed; z-index:1000; right:20px; bottom:2px; display:none}
.MsgBox .headT			{background:#363636; color:#fff; padding:10px; position:relative}
.MsgBox .crossM			{background:url(../img/close-24.png) 0 1px no-repeat; width:24px; height:24px; position:absolute; top:6px; right:8px; cursor:pointer}
.MsgBox .content		{border:1px solid #ccc; background:#fff; height:406px}

.MsgBox textarea		{height: 270px; resize:none;}

.replyForwardLinks		{border-top:1px solid #ccc; margin:20px 0px 0px 0px; padding-top:5px}
.replyForwardLinks a	{text-decoration:underline}

.MsgBox1				{width:700px; border-top:1px solid #ccc; display:none}
.MsgBox1 .content		{border:1px solid #ccc; border-top:none; background:#fff; height:440px}

.MsgBox1 textarea		{height: 270px; resize:none;}

table td[pl]			{cursor:pointer}


/** Form 1 **/
.quesSlide				{width:600px}
.colorLineBx			{width:605px}

.optNBx					{width:1000px}
.optNBx div span		{font-size:8px}

.optN1					{position:absolute; left:0px; top:30px; width:620px}
.optN1 ul				{list-style:none; margin:0; padding:0}

.optCap					{position:absolute; font-size:14px; line-height:18px; text-align:center; height:40px; top:-22px}
.optCap table			{width:100%; border:none}
.optCap td				{text-align:center; height:40px; vertical-align:middle; padding:0}


/** BPI **/
.bpiForm							{}
.bpiForm .optN1 ul li				{float:left; margin:0px 51px 0px 0px; padding:0px}
.bpiForm .optN1 ul li.lastOpt		{margin-right:41px}
.bpiForm .optN1 ul li.L5			{margin-right:55px}

.bpiForm .optN1 ul li.L11 .pipe		{text-indent:9px}

.bpiForm .optN1 ul.Q9 li			{margin:0px 45px 0px -5px}
.bpiForm .optN1 ul.Q9 li.L2			{margin:0px 36px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L3			{margin:0px 37px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L4			{margin:0px 38px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L5			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L6			{margin:0px 37px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L7			{margin:0px 37px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L8			{margin:0px 37px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L9			{margin:0px 35px 0px 0px}
.bpiForm .optN1 ul.Q9 li.L10		{margin:0px 33px 0px 0px}

.bpiForm .optN1 ul.Q9 li .optName	{font-size:12px}
.bpiForm .optN1 ul.Q9 .pipe			{text-indent:5px}


.bpiForm .optCap0				{left:-46px; width:100px}
.bpiForm .optCap10				{left:540px; width:130px}

/** PGIC **/
.pgic							{}
.pgic .optN1 ul li				{float:left; margin:0px 91px 0px 0px; padding:0px}
.pgic .optN1 ul li.lastOpt		{margin-right:89px}

.pgic .optCap0					{left:-26px; width:60px}
.pgic .optCap1					{left:55px; width:90px}
.pgic .optCap2					{left:170px; width:60px}
.pgic .optCap3					{left:270px; width:60px}
.pgic .optCap4					{left:367px; width:60px}
.pgic .optCap5					{left:470px; width:60px}
.pgic .optCap6					{left:545px; width:100px}



/** PHQ **/
.phqForm						{}
.phqForm .optN1 ul li			{float:left; margin:0px 192px 0px 0px; padding:0px}
.phqForm .optN1 ul li.L4 .pipe	{text-indent:2px}
.phqForm .optN1 ul li.lastOpt	{margin-right:185px}
.phqForm .optCap0				{left:-26px; width:60px}
.phqForm .optCap1				{left:170px; width:60px}
.phqForm .optCap2				{left:350px; width:100px}
.phqForm .optCap3				{left:545px; width:100px}

/** PSEQ **/
.pseqForm						{}
.pseqForm .optN1 ul li			{float:left; margin:0px 91px 0px 0px; padding:0px}
.pseqForm .optN1 ul li.L7 .pipe	{text-indent:3px}
.pseqForm .optN1 ul li.lastOpt	{margin-right:88px}
.pseqForm .optCap0				{left:-32px; width:90px}
.pseqForm .optCap6				{left:545px; width:100px}


/** DAPOS **/
.dapos							{}
.dapos .optN1 ul li				{float:left; margin:0px 141px 0px 0px; padding:0px}
.dapos .optN1 ul li.L5 .pipe	{text-indent:3px}
.dapos .optN1 ul li.lastOpt		{margin-right:137px}

.dapos .optCap0				{left:-26px; width:60px}
.dapos .optCap4				{left:564px; width:80px}



/** Start Back **/
.startBack						{}
.startBack .optN1 ul li			{float:left; margin:0px 141px 0px 0px; padding:0px}
.startBack .optN1 ul li.lastOpt	{margin-right:143px}

.startBack .optCap0				{left:-26px; width:60px}
.startBack .optCap1				{left:122px; width:60px}
.startBack .optCap2				{left:265px; width:60px}
.startBack .optCap3				{left:405px; width:80px}
.startBack .optCap4				{left:564px; width:60px}

.startBack .optN1				{display:none}


/** CSQ - 8 **/
.csq						{}
.csq .optN1 ul li			{float:left; margin:0px 192px 0px 0px; padding:0px}
.csq .optN1 ul li.L4 .pipe	{text-indent:2px}
.csq .optN1 ul li.lastOpt	{margin-right:185px}

.csq .optCap0				{left:-70px; width:150px}
.csq .optCap1				{left:125px; width:150px}
.csq .optCap2				{left:325px; width:150px}
.csq .optCap3				{left:535px; width:130px}

/** PCS **/
.pcs						{}
.pcs .optN1 ul li			{float:left; margin:0px 141px 0px 0px; padding:0px}
.pcs .optN1 ul li.lastOpt	{margin-right:143px}

.pcs .optCap0				{left:-26px; width:60px}
.pcs .optCap1				{left:122px; width:80px}
.pcs .optCap2				{left:255px; width:100px}
.pcs .optCap3				{left:405px; width:80px}
.pcs .optCap4				{left:564px; width:60px}

/** PDI **/
.pdi .optCap0				{left:-36px}

/** EuroQol **/
.euroQol							{}
.euroQol .optN1 ul li				{float:left; margin:0px 51px 0px 0px; padding:0px}
.euroQol .optN1 ul li.lastOpt		{margin-right:41px}
.euroQol .optN1 ul li.L5			{margin-right:55px}

.euroQol .optN1 ul li.L11 .pipe		{text-indent:9px}

.euroQol .optN1 ul.Q314 li				{margin:0px 55px 0px -5px}
.euroQol .optN1 ul.Q314 li.L2			{margin:0px 46px 0px 0px}
.euroQol .optN1 ul.Q314 li.L3			{margin:0px 45px 0px 0px}
.euroQol .optN1 ul.Q314 li.L4			{margin:0px 45px 0px 0px}
.euroQol .optN1 ul.Q314 li.L5			{margin:0px 47px 0px 0px}
.euroQol .optN1 ul.Q314 li.L6			{margin:0px 47px 0px 0px}
.euroQol .optN1 ul.Q314 li.L7			{margin:0px 45px 0px 0px}
.euroQol .optN1 ul.Q314 li.L8			{margin:0px 47px 0px 0px}
.euroQol .optN1 ul.Q314 li.L9			{margin:0px 45px 0px 0px}
.euroQol .optN1 ul.Q314 li.L10			{margin:0px 43px 0px 0px}
.euroQol .optN1 ul.Q314 li .optName		{font-size:12px}
.euroQol .optN1 ul.Q314 .pipe			{text-indent:5px}
.euroQol .optCap0						{left:-45px; width:120px}
.euroQol .optCap10						{left:540px; width:130px}


/** Form 2 **/
.quesSlide2				{width:600px}
.colorLineBx2			{width:605px}

.optNBx2				{width:800px}
.optNBx2 span			{font-size:8px}

.optN2					{position:absolute; left:0px; top:30px; width:600px; overflow:hidden;}
.optN2 ul				{list-style:none; margin:0; padding:0}
.optN2 ul li			{float:left; margin:0px 47px 0px 0px; padding:0px}
.optN2 ul li.L6			{margin-right:50px}	
.optN2 ul li.L7			{margin-right:52px}	
.optN2 ul li.L8			{margin-right:54px}	
.optN2 ul li.L11 .pipe	{text-indent:4px}		
.optN2 ul li.lastOpt	{margin:0px 46px 0px 0px}

.optCapS2				{position:absolute; font-size:14px; line-height:18px; text-align:center; height:40px; top:-22px}
.optCapS2 table			{width:100%; border:none}
.optCapS2 td			{text-align:center; height:40px; vertical-align:middle; padding:0}

.optCap20				{left:-55px; width:140px}
.optCap29				{left:350px; width:100px}

.optCap25				{left:265px; width:100px}
.optCap210				{left:550px; width:100px}


/** **/
textarea			{resize:none}
.select1			{width:130px; border:1px solid #ccc; padding:6px 5px}
.select2			{width:130px; border:1px solid #ccc; padding:8px 5px}

.sz0				{width:119px}
.sz1				{width:300px}
.sz2				{width:200px}

.tabContentBx			{border:1px solid #ccc; padding:10px}
.tabContent .lable		{margin:0px 0px 4px 0px}
.tabContent table td	{vertical-align:top}
.tabBtns				{}
.tabBtns a				{display:block; cursor:pointer; width:auto; padding:3px 10px; margin:0px 1px 0px 0px; float:left; background:#ccc; color:#555}
.tabBtns a:hover		{background:#428bca; color:#fff; text-decoration:none}
.tabBtns a.act			{background:#428bca; color:#fff; text-decoration:none}

/** New Css **/
.responseFormH			{padding-left:50px; position:relative; max-width:800px}
.responseFormH h2		{font-size:20px}
.responseFormH h2 .fa	{font-size:20px}
.responseFormH i		{position:absolute; left:0px; top:-6px}
.na1					{font-size:20px; text-align:center; line-height:180px; border:1px solid #ddd}

/** Fieldset / Legend **/
fieldset				{border:1px solid #ccc; border-radius:2px; margin:0; padding:0; font-size:inherit}
legend					{border:1px solid #ccc; padding:3px 5px; font-weight:bold; font-size:inherit; width:auto; display:inline-block; margin:0 0 0 10px}

/** Misc **/
.w1						{width:100px}
tr.quesErr td, div.quesErr, table.quesErr td		{background:#f2dede; outline:1px solid #ff0000}			

.pad1		{padding:10px 10px 0px 10px}

.setCatBx		{position:absolute; right:10px; top:5px; text-align:right; z-index:500}
.catDDBx		{position:absolute; right:10px; top:5px; z-index:501; width:200px}
.catDD			{border:1px solid #ccc; padding:2px; opacity:0}

.bdrBx1			{border:1px solid #ccc; padding:10px; margin:0 0 10px 0}

.arrowB			{background:url(../images/dropdown-arrow.png) 100% 0 no-repeat; width:15px; height:5px; display:inline-block; cursor:pointer}
.arrowT			{background:url(../images/dropdown-arrow.png) 100% -47px no-repeat; width:15px; height:5px; display:inline-block; cursor:pointer}

.dd1			{border:1px solid #ccc; padding:1px; font-size:13px; width:100px}

.EColor1Bx		{background:#000000; display:inline-block; width:16px; height:16px; padding:0px}
.EColor2Bx		{background:#3a87ad; display:inline-block; width:16px; height:16px; padding:0px}
.EColor3Bx		{background:#6fba61; display:inline-block; width:16px; height:16px; padding:0px}
.EColor4Bx		{background:#ff0000; display:inline-block; width:16px; height:16px; padding:0px}

/** Body Map depend on screen resolution **/
/*.painPopup			{-ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9);}*/

.numCss			{font-family:Menlo,Monaco,Consolas,"Courier New",monospace;}
.help1			{position:absolute; background:url(../img/help1.png) 0 0 no-repeat; width:16px; height:16px; cursor:pointer; z-index:90}
.helpPos1		{left:400px; top:40px}
.helpPos2		{left:340px; top:60px}
.helpPos3		{left:340px; top:40px}

.triangleUp 	{width: 0; height: 0; border-style: solid; border-width: 0 130px 170px 130px; border-color: transparent transparent #fbd200 transparent;
				margin:0 auto; font-size:18px; font-weight:bold; position:relative;}
.triTxt			{position:absolute; width:122px; text-align:center; left:-61px; top:85px;}

.ajaxLoader1	{width:32px; height:32px; background:url(../images/loaders/loader10.gif) 0 0 no-repeat; position:absolute; left:45%; top:150px; 
				z-index:200; display:none}
				
/** New css **/
.dropdown-menu .dropdown-list li a	{color:#428bca; cursor:pointer}
.greenCircle	{color:#6fba61}

/** Notification **/
.notiBx			{width:400px; background:#eee; box-shadow:3px 3px 5px #999; position:fixed; right:5px; bottom:5px; z-index:3000; display:none}
.notiTitle		{background:#000; padding:5px 10px; color:#fff; text-transform:uppercase; font-size:12px}
.notiList		{border-bottom:1px solid #ccc; padding:10px}

/** **/
.fnavLogin		{width:100%; position:absolute; z-index:20000; bottom:0px; left:0px; background:#f2f2f2; border-top:1px solid #ccc; font-size:11px;}
.fnavPad		{padding:5px}
.fnavPad a			{color:#666; display:inline-block; padding:0px 10px}
.fnavPad a:hover	{text-decoration:underline}
.fnavL			{width:40%; float:left; text-align:left}
.fnavR			{width:40%; float:right; text-align:right}

/** Login Status **/
.onlineStatusBx			{line-height:48px; padding:0 5px}
.onlineStatusBx select	{border:1px solid #ccc; padding:0; outline:none}
.onlineStatusBx select:focus	{outline:none}

/** **/
.cookiesInfo		{color:#ccc; text-align:center; background:#000; line-height:40px; font-size:16px}
.cookiesInfo a		{color:#fff; text-decoration:underline}
.cookiesInfo span	{display:inline-block; padding:0 10px}
a.cookieClose		{text-decoration:none; display:block; position:absolute; right:0px; top:3px; width:35px; height:35px; background:url(../images/fancybox_sprite.png) 0 0 no-repeat}

/** Cms **/
.cms    {font-family:Arial, Helvetica, sans-serif}
.cms h4    {font-weight:bold}
.cms ul    {list-style-type:none; margin:0; padding:0 0 0 10px}
.cms ul li   {font-weight:bold; padding:10px 0px}
.cms ul li p   {font-weight:normal; padding:10px 0px}
.cms ul li ol  {padding:0 0 0 8px}
.cms ul li ol li {font-weight:bold}
.cms ul li ol li p {font-weight:normal}
.cms h5    {font-weight:bold}

.cms table { text-align:center;font-weight:normal;}
.cms th { text-align:center;font-weight:normal;}
.cms td { text-align:center;font-weight:normal;}
.star{cursor: pointer;}
.star-marked{background-color: yellow;}
