body {
	font-family:Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	outline: none;
	font-size:16px;
	
	
}
/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right:130px;
  margin-left:50px;
  
  
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  color: #737373;
  margin-right:0px;
  
  
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
  border:1px solid #ccc;
  outline:none;
  
 
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
  
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
  
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.num-one{ margin:0px; padding:0px;}
.num-one span{ font-size:18px; color:#8d8d8d;}

.panel-body ul{ width:auto;}
.panel-body ul li{  margin:0px; padding:0px; line-height:30px;}
.panel-body ul li a{  margin:0px; padding:0px;}

.panel-body .buynow{ margin-left:20px; padding-left:0px; margin-top:10px;}



@media (min-width:320px) and (max-width:480px) {

.tabbable-line > .nav-tabs > li {
 width:100%; margin:0px; text-align:center;}
	
	
}



@media (min-width:481px) and (max-width:640px) {

.tabbable-line > .nav-tabs > li {
 width:100%; margin:0px; text-align:center;}
	
	
}


@media (min-width:641px) and (max-width:768px) {
.tabbable-line > .nav-tabs > li {
   margin-right:2px; margin-left:50px;}	
.num-one{ margin:0px; padding:0px; width:95%;}

}

@media (min-width:769px) and (max-width:1024px) {

.tabbable-line > .nav-tabs > li {
  margin-right:50px;
  margin-left:50px;
  
  
}

}