body		{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#333}
a,img,form	{outline:none; border:none; margin:0px; padding:0}
a			{outline:none; color:#21759B; text-decoration:none}
a:hover		{color:#D54E21; text-decoration:none}
p			{margin:0}
button		{font-size:11px; padding:4px 15px}

h4			{padding:0; margin:0; font-weight:bold; font-size:13px; color:#333}

.down		{width:100%; clear:both}
.clr		{width:100%; clear:both; line-height:0; font-size:0; height:0; overflow:hidden}
.outer		{width:1200px; margin:5px auto; border:1px solid #ccc}
.pad1		{padding:10px}

.posRel		{position:relative}

fieldset			{border:1px solid #ccc; border-radius:2px; margin:0; padding:0; font-size:inherit}
legend				{border:1px solid #ccc; padding:3px 5px; font-weight:bold; font-size:inherit; width:auto; display:inline-block; margin:0 0 0 10px}

.textCenter			{text-align:center}
.textLeft			{text-align:left}
.textRight			{text-align:right}

.col1				{float:left; width:33%}
.col2				{float:left; width:50%}
.col3				{float:left; width:25%}
.col4				{float:left; width:33%}

.reportPInfo		{font-weight:bold; padding:5px 10px; border-bottom:1px solid #ccc; border-top:1px solid #ccc; margin:0 0 10px 0}
.exportBtn			{background:#363636; color:#fff; width:120px; height:40px; padding:5px 10px; text-align:center; border:none; cursor:pointer; display:block; position:fixed; right:0;}
.btnPdf				{top:150px}
.btnExl				{top:200px}

.titleH				{padding:5px 10px; font-weight:bold; background:#eee}
.blueBx				{background:#3a87ad; color:#fff; padding:10px; text-align:center; width:95%; height:225px; font-size:18px}
.finfoTxt			{position:absolute; font-size:13px; bottom:5px; right:5px; text-align:left}
.finfoTxt table td	{color:#fff}
.na1				{font-size:20px; text-align:center; line-height:150px; border:1px solid #ddd; margin-top:10px}

.pd1				{padding:10px 0 0 0}

.bTitle				{font-weight:bold; padding:5px 10px; font-size:14px; background: #EAF2FA}
.ans				{padding:0 0 20px 20px}

hr				{color:#f2f2f2; height:1px; margin:0px}
/** Weemoo **/
#video-container 	{width: 320px; height: 180px; border: 1px solid black;	background: #0074bc; margin:20px auto}
#error 				{border: 4px solid red; display: none; width: 50%; padding: 14px;}

.weemoVbx			{width:500px; margin:0 auto}
